[submodule "kitty"]
	path = kitty
	url = git@github.com:JordanllHarper/kitty-config.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:JordanllHarper/nvim-setup.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
